<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= siteTitle %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="../css/global.css">
  <script src="../js/global.mjs" type="module"></script>
</head>

<body>
  <!-- Header -->
  <!-- Header partial -->
  <%- include('../partials/header') %>
  <!-- Main sectiom -->
  <main>
    <h2><%= pageTitle %></h2>
    <img class="single-img" width="<%= image.width %>" height="<%= image.height %>" src="../<%= image.pathURL %>" alt="<%= pageTitle %>"/>
  </main>
  <!-- Footer partial -->
  <%- include('../partials/footer') %> 

</body>

</html>